@page
@model Tarea1Aplicada2.cConsultasModel
@{
    ViewData["Title"] = "Consulta de Usuarios";
}

<h1>Consulta de Usuarios</h1>

<div class="container">

    <div>


        <div class="form-group row">
            <div>
                <div class="checkbox">
                    <label><input type="checkbox">Filtrar fecha</label>
                </div>
            </div>

        </div>
        <form class="form-inline">
            <div class="form group">
                <div class="col col-xs-2">
                    <label for="Desde">Desde: </label>
                    <input type="datetime" class="form-control" id=" =DateTime">

                </div>
            </div>
            <div class="form group">
                <div class="col col-xs-2">
                    <label for="Hasta">Hasta: </label>
                    <input type="datetime" class="form-control" id=" =Data">
                </div>
            </div>
            <div class="form group">
                <div class="col col-xs-2">
                    <label for="Filtro">Filtro </label>
                    <input type="text" class="form-control" id=" =Filtro">
                </div>
            </div>
            <div class="form group">
                <div class="col col-xs-2">
                    <label for="Criterio">Criterio: </label>
                    <input type="datetime" class="form-control" id=" =Criterio">
                </div>
                
            </div>
            <div class="form group">
                <div class="ancho2">
                    <button type="submit" class="btn btn-default">Buscar</button>
                </div>
            </div>
    



        </form>

    </div>



</div>
<div class="container">

</div>

